<header class="page-header">
  <a href="#" class="logo-link">9ji</a>
  <nav class="main-menu">
    <ul class="menu-list">
      <li class="menu-list-item"><a routerLink="/users" class="menu-link">Сервера</a></li>
      <li class="menu-list-item"><a routerLink="/users" class="menu-link">Приложения</a></li>
      <li class="menu-list-item"><a routerLink="/users" class="menu-link">Пользователи</a></li>
      <li class="menu-list-item"><a routerLink="/users" class="menu-link">Данные</a></li>
    </ul>
  </nav>
</header>
